@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Shadows+Into+Light&display=swap');


*{
    margin: 0;
    padding: 0;
}
.imageforcolorcode{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0 0 35px;
}


p{
    text-align: center;
    font-size: 15px;
    font-family: "play", cursive;
}
#button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 2.5rem;
    cursor: pointer;
}

#result{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 10px;
    color: white;
}